<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
<script type="module">
    import renderMathInElement from "https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.mjs";
    renderMathInElement(document.body);
</script>

<!-- <script>
    MathJax = {
        enableMenu: false,          // set to false to disable the menu
        menuOptions: {
            settings: {
                texHints: true,        // put TeX-related attributes on MathML
                semantics: false,      // put original format in <semantic> tag in MathML
                zoom: 'NoZoom',        // or 'Click' or 'DoubleClick' as zoom trigger
                zscale: '200%',        // zoom scaling factor
                renderer: 'CHTML',     // or 'SVG'
                alt: false,            // true if ALT required for zooming
                cmd: false,            // true if CMD required for zooming
                ctrl: false,           // true if CTRL required for zooming
                shift: false,          // true if SHIFT required for zooming
                scale: 1,              // scaling factor for all math
                collapsible: false,    // true if complex math should be collapsible
                inTabOrder: true,      // true if tabbing includes math
            },
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            }
        };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script> -->